<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./index.scss">
  </head>
  <body>
    {% set slides = [
      {
        image: './julien-verneaut-woZCb0dmToM-unsplash.jpg',
        title: 'Rosheim',
        hex: '#3f1c1a'
      },
      {
        image: './alexander-kagan-t9Td0zfDTwI-unsplash.jpg',
        title: 'Paris',
        hex: '#273243'
      },
      {
        image: './patrick-robert-doyle-xuVpSFtDZhI-unsplash.jpg',
        title: 'Strasbourg',
        hex: '#1c2e6b'
      },
    ] %}

    {% block content endblock %}

    <script src="./app.js" type="module"></script>
  </body>
</html>
